n8n-workflows/FAQ-AGENT-WORKING.json
{
    "name": "FAQ Agent - RAG with Gemini 3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "faq-agent",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "fa0fb03f-b19f-44db-9c12-bd8ae6f866c8",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "faq-agent-webhook"
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.question }}",
                "hasOutputParser": false,
                "options": {
                    "systemMessage": "You are a helpful customer support assistant for a clothing e-commerce store.\\n\\nIMPORTANT GUIDELINES:\\n- Be concise: Keep responses to 2-3 sentences maximum\\n- Be conversational: Use a warm, natural tone (not robotic)\\n- Be accurate: Base answers strictly on the provided FAQ knowledge\\n- If you're not 100% certain, acknowledge it and offer to connect them to a human agent\\n\\nAnswer the customer's question based on the FAQ information retrieved from the knowledge base."
                }
            },
            "id": "0a8c1bb8-8da5-49fe-8888-fcb5a7aa0a0a",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "options": {
                    "temperature": 0.3,
                    "topK": 40,
                    "topP": 0.95,
                    "maxOutputTokens": 150
                }
            },
            "id": "17e6de8b-6267-4926-8bc3-b55e47bca7a5",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1.1,
            "position": [
                680,
                140
            ],
            "credentials": {
                "googleGeminiOAuth2Api": {
                    "id": "your-gemini-credential-id",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.sessionId || 'default' }}",
                "contextWindowLength": 5
            },
            "id": "3ad09663-3831-4c7a-be2e-7faba21f72d4",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                680,
                220
            ]
        },
        {
            "parameters": {
                "topK": 3,
                "description": "Search the FAQ knowledge base to find answers to customer questions about store policies, shipping, returns, payments, sizing, and general inquiries. Use this tool whenever a customer asks a question that might be answered in the FAQ database. Returns the top 3 most relevant FAQ entries with confidence scores above 0.7.",
                "options": {
                    "searchType": "hybrid",
                    "scoreThreshold": 0.7
                }
            },
            "id": "7c5f5e38-9f0a-4fd9-a28c-d2c3b6bc9370",
            "name": "Vector Store Retriever",
            "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
            "typeVersion": 1,
            "position": [
                680,
                380
            ]
        },
        {
            "parameters": {
                "qdrantCollection": "faqs",
                "mode": "retrieve",
                "options": {
                    "topK": 3
                }
            },
            "id": "c8d8a59f-2e3d-49b8-9a00-1ba4629dc7fd",
            "name": "Qdrant Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "your-qdrant-credential-id",
                    "name": "Qdrant API"
                }
            }
        },
        {
            "parameters": {
                "model": "text-embedding-004",
                "options": {
                    "taskType": "RETRIEVAL_QUERY"
                }
            },
            "id": "45fbb5a0-3d6d-4d0c-8a29-8e6de6cb08b1",
            "name": "Embeddings Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
            "typeVersion": 1,
            "position": [
                900,
                460
            ],
            "credentials": {
                "googleGeminiOAuth2Api": {
                    "id": "your-gemini-credential-id",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Format and validate agent response\\nconst agentResponse = $input.item.json;\\n\\n// Extract the actual response\\nlet answer;\\nif (agentResponse.output) {\\n  answer = agentResponse.output;\\n} else if (agentResponse.text) {\\n  answer = agentResponse.text;\\n} else {\\n  answer = JSON.stringify(agentResponse);\\n}\\n\\nconst question = $('Webhook').item.json.question;\\nconst sessionId = $('Webhook').item.json.sessionId || 'anonymous';\\n\\nreturn {\\n  success: true,\\n  question: question,\\n  answer: answer,\\n  sessionId: sessionId,\\n  timestamp: new Date().toISOString(),\\n  agentType: 'faq',\\n  model: 'gemini-1.5-flash'\\n};"
            },
            "id": "8d2c5f6a-1e7b-4c9a-9f3e-7d6c8b9a0e1f",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Vector Store Retriever": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Qdrant Vector Store": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Vector Store Retriever",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Google Gemini": {
            "ai_embedding": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-02-03T00:00:00.000Z",
    "versionId": "1"
}